.AllRecipesContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 50px;
}

.container {
	height: 450px;
	border-radius: 50px;
	box-shadow: 0px 0px 15px 7px rgba(255, 227, 229, 0.86);
	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
	text-align: center;
	margin-top: 50px;
	margin-left: 50px;
}

.container__image {
	width: 50%;
	margin-top: 50px;
}

.Dish-Name {
	margin-top: 10px;
	cursor: pointer;
}
