.Main-sidebar-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	background-color: #b589d6;
	border: none;
}

/* .Main-sidebar-container-btn {
	width: 100%;
	border: 2px solid red;
	height: 200px;
	cursor: pointer;
} */

.fas {
	cursor: pointer;
	font-size: 50px;
}

.Sidebar-btn {
	width: 100%;
	height: 200px;
	border: none;
	color: #fffafa;
	cursor: pointer;
	font-size: 1.1rem;
	background-color: transparent;
	outline-style: none;
}

.Main-sidebar-container-group-btn {
	height: 100px;
}
