* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.Main-Container {
	height: 100vh;

	background: rgba(255, 164, 7, 1);
	background: -webkit-linear-gradient(
		bottom right,
		rgba(255, 164, 7, 1),
		rgba(117, 35, 218, 1)
	);
	background: -moz-linear-gradient(
		bottom right,
		rgba(255, 164, 7, 1),
		rgba(117, 35, 218, 1)
	);
	background: linear-gradient(
		to top left,
		rgba(255, 164, 7, 1),
		rgba(117, 35, 218, 1)
	);
}

.Main-ContainerWithSideNav {
	display: grid;
	grid-template-columns: 0.1fr 1fr;

	min-height: 100vh;
}

@media only screen and (max-width: 1200px) {
	.Main-ContainerWithSideNav {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 900px) {
	.Main-ContainerWithSideNav {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 600px) {
	.Main-ContainerWithSideNav {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 375px) {
	.Main-Container {
		border: 2px solid purple;
	}

	.Main-ContainerWithSideNav {
		grid-template-columns: 1fr;
	}
}
