.RecipeCreator-main-container {
	grid-area: "main";
	display: grid;

	border: 2px solid red;
}

.RecipeCreator {
	border-radius: 55px 55px 55px 55px;
	background: white;
	margin: 0 auto;
	margin-top: 100px;
	overflow: auto;
	width: 50%;
	height: 700px;
}

.RecipeCreatorField {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 70px;
	border: 2px solid red;
}
