.userProfileMainContainer {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 70px auto 70px;
}

.userProfileInformationContainer {
	grid-row-start: 2;
	border-radius: 55px;
	width: 95%;
	margin-left: 50px;
	background: linear-gradient(5deg, #556270, #c44d58);
	box-shadow: 0px 0px 28px 3px #585858;
	display: grid;
	grid-template-columns: 350px auto;
}

.userProfileUser {
	grid-column-start: 1;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 55px 0 0 55px;
	text-align: center;
}

.userProfileImage {
	margin-top: 50px;
	margin-left: 80px;
	border-radius: 500px;
	width: 200px;
	height: 200px;
	background-color: gray;
}

.userProfileUserNameContainer {
	margin-top: 30px;
}

.userProfileUserNameContainer h2 {
	margin-top: 10px;
	font-size: 1rem;
}

.userProfileData {
	border-radius: 0 55px 55px 0;
}

.Allthree {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* border: 2px solid red; */
}

.Alltwo {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.AllOne {
	display: grid;
	grid-template-columns: 1fr;
}

.one {
	grid-column-start: 1;
	width: 400px;
	text-align: center;
	background: white;
	border-radius: 55px;
	margin-top: 50px;
	margin-left: 50px;
	font-size: 12px;
}

.two {
	grid-column-start: 2;
	width: 400px;
	text-align: center;
	background: white;
	border-radius: 55px;
	margin-top: 50px;
	margin-left: 50px;
	font-size: 12px;
}

.three {
	grid-column-start: 3;
	width: 400px;
	text-align: center;
	background: white;
	border-radius: 55px;
	margin-top: 50px;
	margin-left: 50px;
	font-size: 12px;
}
